#lbOverlay {position: fixed; top: 0; left: 0; z-index: 99998; width: 100%; height: 500px; }
#lbMain {position: absolute; left: 0; width: 100%; z-index: 99999; text-align: center; line-height: 0; }
#lbMain a img {border: none; }
#lbOuterContainer {position: relative; border: 3px solid; width: 200px; height: 200px; margin: 0 auto; }
#lbDetailsContainer	{font: 10px Verdana, Helvetica, sans-serif; width: 100%; line-height: 1.4em;	overflow: auto; margin: 0 auto; }
#lbDetailsContainer	{border: 3px solid; border-top: none; }
#lbImageContainer, #lbIframeContainer {padding: 10px; }
#lbLoading {position: absolute; top: 45%; left: 0%; height: 32px; width: 100%; text-align: center; line-height: 0; background: url(../imagens/lytebox/loading.gif) center no-repeat;}
#lbHoverNav {position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#lbImageContainer>#lbHoverNav {left: 0; }
#lbHoverNav a {outline: none; }
#lbPrev {width: 49%; height: 100%; background: transparent url(../imagens/lytebox/blank.gif) no-repeat; display: block; left: 0; float: left; }
#lbPrev:hover, #lbPrev:visited:hover {background: url(../imagens/lytebox/prev.gif) left 15% no-repeat; }
#lbNext {width: 49%; height: 100%; background: transparent url(../imagens/lytebox/blank.gif) no-repeat; display: block; right: 0; float: right; }
#lbNext:hover, #lbNext:visited:hover {background: url(../imagens/lytebox/next.gif) right 15% no-repeat; }
#lbPrev2, #lbNext2 {text-decoration: none; font-weight: bold; }
#lbPrev2_Off, #lbNext2_Off {font-weight: bold; }
#lbDetailsData {padding: 0 10px; }
#lbDetails {width: 60%; float: left; text-align: left; padding-left: 2px;}
#lbCaption {display: block; font-weight: bold;}
#lbCaption img {vertical-align: -30%;}
#lbNumberDisplay {float: left; display: block; padding-bottom: 1.0em; }
#lbNavDisplay {float: left; display: block; padding-bottom: 1.0em; }
#lbClose	{width: 70px; height: 28px; float: right; margin-bottom: 1px; background: url(../imagens/lytebox/close.png) no-repeat;}
#lbPlay		{width: 64px; height: 28px; float: right; margin-bottom: 1px; background: url(../imagens/lytebox/play.png) no-repeat;}
#lbPause	{width: 64px; height: 28px; float: right; margin-bottom: 1px; background: url(../imagens/lytebox/pause.png) no-repeat;}

/* **** Bloco usado para alterar as cores do lytebox *** */

#lbDetailsContainer				{border-color		: #ffcc00;	background-color	: #ffffff;	}
#lbOuterContainer				{border-color		: #ffcc00;	background-color	: #ffffff;	}
#lbDetailsData					{color				: #000;									}
#lbOverlay						{background-color	: #c0c0c0;									}
#lbPrev2, #lbNext2, #lbSpacer	{color				: #000;									}
#lbPrev2_Off, #lbNext2_Off		{color				: #000;									}